@page "/detalle/editar/{tareaId:int}/{id:int}"
@using BlazorApp1.Data
@using Model.Entities
@inject DetalleService DetalleService
@inject RecursoService RecursoService
@inject NavigationManager navigation
<h3>@( Modelo.Id != 0 ? "Editar Detalle" : "Crear Detalle" )</h3>

@if (recursos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@Modelo" OnValidSubmit="@Guardar">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label">
                Fecha
            </label>
            <div class="col-sm-10">
                <InputDate @bind-Value="Modelo.Fecha" />
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label">
                Tiempo
            </label>
            <div class="col-sm-10">
                <InputText @bind-Value="Modelo.Tiempo" />
            </div>
        </div>
        <div class="form-group row">
            <InputSelect @bind-Value="RecursoId">
                <option value="-1">Elija un Usuario</option>
                @foreach (var recurso in recursos)
                    {
                    <option value="@recurso.Id">@recurso.Nombre</option>
                    }
            </InputSelect>
        </div>

        <button type="submit">Guardar</button>
    </EditForm>
}

@code {
    [Parameter]
    public int TareaId { get; set; }
    private List<Recurso> recursos;
    [Parameter]
    public int Id { get; set; }
    public string RecursoId { get; set; }

    public Detalle Modelo { get; set; } = new Detalle();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            Modelo = await DetalleService.GetById(Id);
            RecursoId = Modelo.RecursoId.ToString();
        }
        else
        {
            Modelo = new Detalle();
            Modelo.TareaId = TareaId;
        }
        recursos = await RecursoService.GetAll();
    }


    private async void Guardar()
    {
        if (int.Parse(RecursoId) > -1)
        {
            Modelo.RecursoId = int.Parse(RecursoId);
        }
        await DetalleService.Save(Modelo);
        navigation.NavigateTo("detalle/listado/" + TareaId);
    }
}